@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "heh" }))
    {
    @Html.AntiForgeryToken()

        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="textWhite" })
        </li>
        <li><a class="textWhite" href="javascript:document.getElementById('logoutForm').submit()">Одјави се</a></li>

    }
}
else
{
    <li class="hehe">

        <li>@Html.ActionLink("Регистрирај се", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "textWhite" })</li>

        <li>@Html.ActionLink("Најави се", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="textWhite" })</li>

    </li>
}
<style>
    .textWhite {
        color: white !important;
    }

    .navigacija {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline;
    }

    .navigacija li {
        display: inline;
    }
    .heh {
        display: inline;
        padding-left: 15%;
        /*float: right;*/
    }
    .hehe {
        display: inline;
        padding-left: 50%;
    }
</style>