@{
    ViewBag.Title = "Контакт";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>бул. Партизански Одреди бб </p>
    <p>Број за контакт: 071 234 567 </p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@pronajdirecepti.com">support@pronajdirecepti.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@pronajdirecepti.com">marketing@pronajdirecepti.com</a>
</address>